html{
	background-color: white;
	font-family: "Times", cursive;
	color: black;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1, h2, h3{
	font-weight: normal;
	font-size: 2rem;
	font-family: 'Sigmar One', cursive;
	color: #b32f52;
}

header {
	background-color: #ffe524;
	padding: 0.5em;
	margin: 0;
}
.berries{
	font-size: 3rem;
}

h1 {
	margin: 0.5em;
	text-align: center;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
}

nav ul {
	margin: 0;
}

nav a {
	display: inline-block;
	background-color: #b2a215;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	padding: 0.5em;
}

a:hover {
	display: inline-block;
	background-color: #b32f52;
	color: white;

}

blockquote {
	font-style: italic;
	color: #b2a215;
	text-align: center;
}

cite {
	font-style: italic;
	color: #b2a215;
	text-align: center;
}
