html{
	background-color: white;
	font-family: "Times", cursive;
	color: black;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1, h2, h3{
	font-weight: normal;
	font-size: 2rem;
	font-family: 'Sigmar One', cursive;
	color: #b32f52;
}

header {
	background-color: #ffe524;
	padding: 0.5em;
	margin: 0;
}
.berries{
	font-size: 3rem;
}

h1 {
	margin: 0.5em;
	text-align: center;
}

h2 {
	border-top: 4px solid #ffe524;
	padding: 1em 0 0;
}

.nutrinfo {
	font-size: 1.5rem;
}

nav {
	text-align: center;
}

nav li {
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	display: inline-block;
	background-color: #b2a215;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	padding: 0.5em;
	margin: 0;
}

a:hover {
	display: inline-block;
	background-color: #b32f52;
	color: white;

}

.quomark {
	font-size: 3rem;
	line-height: 2rem;
}

blockquote {
	font-style: italic;
	color: #b2a215;
	text-align: center;
}

cite {
	display: block;
	font-style: italic;
	color: #b2a215;
	text-align: center;
}

figcaption {
	text-align: center;
	font-size: .9rem;
	font-style: italic;
}

figure {
	border: 1px solid #79756f;
	border-radius: 10px;
	border-color: #c5b844;
	background-color: #fffce0;
	margin: 0;
	padding: 5px 5px 5px;
}

img {
	width: 100%
	;
}

h4 {
	font-weight: normal;
	font-style: italic;
}

dd {
display: inline-block;
margin: 0;
}

dt {
	font-weight: bold;
}

footer {
	background-color: #ffe524;
	text-align: center;
	padding: 1em 1em 1em 1em;
}
